@page "/profile"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@inherits UserProfileBase

<h3>User Profile</h3>
@{
    <table class="table">
        <thead>
            <tr>
                <th>Property</th>
                <th>Value</th>
            </tr>
        </thead>
        <tr>
            <td> DisplayName </td>
            <td> @_user.DisplayName </td>
        </tr>
        <tr>
            <td> UserPrincipalName </td>
            <td> @_user.UserPrincipalName </td>
        </tr>
    </table>
 }
