@page "/"

<h1>Blazor with SQL Server</h1>
<h4><strong>Go <a href="fetchdata">fetch your data</a></strong></h4>

Welcome to your new app.

<br />

<img src="Images/topology.png" title="Scenario image" />

<SurveyPrompt Title="How is tutorial working for you?" />

